{% extends "v_trainer/base.html" %}

{% block content %}
{% load static %}
<h1>Gebrauchsanleitung</h1><br>

<li>Zu der Testeliste gehst du oben auf die Aufreihung und klickst auf "Liste"</li>
<br>
<li>Um einen Test Durchzuführer gehst du auf die Testaufreiung, wählst einen Testform aus und gehst auf "Details des Tests" und dann auf "Starte Test"</li><br>

<li>Um dir dein Ergebnis anzuschauen gehe dann auf "Details des Durchgeführten Tests"</li><br>

<li>Um einen Neuen Test zu erstellen gehe oben auf "Neuen Test erstellen"</li><br>

<li>Um neue Wörter hinzuzufügen gehe auf "Adminestrationsseite"</li><br>

<li>Um zur Startseite zu gelangen gehe auf "Vokabeltrainer"</li><br>

<li>Und um zu dieser Seite zurück zu gelangen gehe auf den Smiley in der Aufreihung
    (<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/Face-smile.svg/22px-Face-smile.svg.png">)</li>
<br>





    <a class="btn btn-default" href="{% url 'index' %}" role="button">Zurück zur Startseite</a>







{% endblock content %}