<div class="col-1"></div>
{% extends 'v_trainer/base.html' %}
{% block content %}

    <h1>Vokabeltrainer Datenschutzerklärung und Nutzerbedingungen</h1>
	<h2>Datenschutzerklärung</h2>
	<h4>Der Schutz eurer Daten ist uns sehr wichtig, deswegen wollen wir euch auch mitteilen, wie wir mit euren Daten umgehen:<br><br>
		1. Wir benutzen Django. Jeder Nutzer von unserem Vokabeltrainer wurde dort angemeldet, zu deinem Namen werden folgende Daten gespeichert:<br>
		- Benutzername<br>
		- Passwort<br>
		- Vorname<br>
		- Nachname<br>
		- E-Mail (wenn vorhanden)<br>
		- Aktionen*<br>
		<br><br>
		2. Wenn man einen Test für sich/andere erstellt, muss man damit rechnen, dass der eigene Name erscheint.
		<br><br>
		 3. Vokabeltrainer wird deine Daten nicht an Dritte weitergeben.
		<br><br>

        4. Diese Webseite benutzt Cookies damit du unsere Dienste einwandfrei nutzen kannst.
		<br><br>

    </h4>
    <h2>Nutzerbedingungen</h2>
		<h4>
			§1 Die Datenschutzerklärungen und die Nutzerbedingungen gelten.
			<br><br>
			§2 Mit dem Akzeptieren der Nutzerbedingungen und der Datenschutzerklärung erkläre ich hiermit mich daran zu halten.
			<br><br>
			§3 Vokabeltrainer darf die Datenschutzerklärung und die Nutzerbedingungen jederzeit ändern**.
			<br><br>
			§4 Vokabeltrainer übernimmt keine Haftung für Schäden oder Ähnliches.
			<br><br>
			§6 Es ist verboten ohne Einwilligung von Vokabeltrainer, den Zugang einem Drittem zu ermöglichen.
			<br><br>
			§8 Vokabeltrainer darf sich unter deinem Namen auf der Radio Ready Seite anmelden,<br>
			um z.B. Probleme zu überprüfen bzw. die Webseite anzupassen.
			<br><br><br>
				</h4>
		<h5>
			<hr>
						Stand: 14.7.2021

					<hr>
						*=Wann wurde man eingeloggt/hat sich eingeloggt ;<br>**= ... ohne die Nutzer von Vokabeltrainer zu infomieren, außer es muss laut Gesetz so sein;
					<hr>
		</h5>




{% endblock content %}