{% extends "v_trainer/base.html" %}

{% block content %}
		<script type="text/javascript">
			let seite=getCookie("seite");
			if (seite == "radioready") {
            window.document.location.href = "http://timo1streich.pythonanywhere.com/";
			}
			else{
			 	setCookie("seite", "v_trainer", 366);
			}
		</script>

<h1 style="color: greenyellow">Vokabeltrainer</h1>
<h2 style="color: greenyellow">                    Du bist angemeldet als {{ user.get_first_name|default:user.username }}
</h2>

<h2 style="color: blue">
Hallo {{ user.get_firstname|default:user.username }}<br>
    Willkommen auf der Webseite.<br>


    Ich wünsche dir viel Spaß.
</h2>
<h3 style="color: red">Du bist zum ersten Mal hier?<br>
    Hier hast du eine
    <a class="btn btn-default" style="color: red" href="{% url 'anleitung' %}" role="button">Gebrauchsanleitung</a></h3><br><br><br>
<p style="color: green">
Habe noch einen schönen Tag.<br><br><br>
</p>

{% endblock content %}

