{% extends "v_trainer/base.html" %}

{% block content %}
<h1>Vokabeltrainer</h1>

<h2>
    <script>

				let name=prompt("Wie heißt du?")
				document.write("Hallo "+name+". ")

    </script>
    Willkommen auf der Webseite.<br>


    Ich wünsche dir viel Spaß.
</h2>
<br><br>

Habe noch einen schönen Tag.<br><br><br>

<!--<a href="{% url 'englischtest_1_vokabel_list'%}">Englischtest mit einer Vokabel.</a>-->

<!--<a class="btn btn-default" href="{% url 'englischtest_1_vokabel_list'%}" role="button">Englischtest mit einer Vokabel.</a>-->

{% endblock content %}

