{% extends 'radioready/base.html' %}
{% block content %}
    <h1>Radio Datenschutzerklärung und Nutzerbedingungen</h1>
	<h2>Datenschutzerklärung</h2>
	<h3>Der Schutz eurer Daten ist uns sehr wichtg, deswegen wollen wir euch auch mitteilen, wie wir mit euren Daten umgehen:<br><br>
	1.Alle eure Daten werden einen Monat nach dem Losen des Gewinners gelöscht. Außer es treffen folgende Punkte zu:<br>
	  a)In den Erhaltenen Daten oder E-Mails sind Gesetzesverletzungen zu finden. Hier halten wir uns an das Deutsche Datenverarbeitungsgesetz<br>
	  b)In den Enthaltenen Daten der E-Mails oder Daten befinden sich Werbung usw.<br><br>
	<i>Zu 1.: Treffen diese Punkte Vollständig oder Teilweise zu,<br> werden die Entsprechenden Daten solange bahalten,<br> bis es eine Erklärung vom Sender der Daten gibt, ab da gilt:<br>Diese Daten werden einem Monat nach der Kontaktaufnahme gelöscht.</i><br><br>
	- 2. Die Daten werden ausschließlich nur für das Senden des Grußes, zum Newsletter<br> und zur Kontaktaufnahme benutzt z.B. wenn man die Adresse vergessen hat oder Werbung vorhanden ist.<br><br>
	- 3. Radio Ready wird ihre Daten nicht an dritte weitergeben.<br><br>
	- 4. Newsletter:
	<br> Alle die sich für den Newsletter anmelden, deren Daten werden so lange behalten bis man sich vom Newsletter abmeldet.
	<br>
	<br>
	<br>
    </h3>
    <h2>Nutzerbedingungen</h2>
<h3>§1 Die Datenschutzerklärungen und die Nutzerbedingungen gelten.
<br><br>
§2 Mit dem Öffnen diser Seite stimme ich den Nutzerbedingungen und der Datenschutzerklärung zu.
<br><br>
§3 Mit dem Senden einer E-Mail oder anderen Daten an Radio Ready stimme ich zu der Benutzung meiner Daten im Rahmen der Datenschutzerklärung zu.
<br><br>
§4 Radio Ready darf die Datenschutzerklärung und die Nutzerbedingungen jederzeit ändern.
<br><br>
§5 Radio Ready übernimmt keine Haftung für Schäden oder Ähnliches.
<br><br>
§9 Es ist für ALLE Nutzer VERBOTEN Radio Ready Sendungen zu verkaufen oder auf andere Weise damit Geld zu verdienen.
</h3>
{% endblock content %}