{% extends 'radioready/base.html' %}
{% block content %}
    <h1>Radio Ready Sendungen</h1>

<h4>
    Schreibt eure Lösung an <a href="mailto:radioready.quiz@gmail.com" class="mailto-link" target="_blank">radioready.quiz@gmail.com</a> <br>
    <table>
        <table border="1">
          <tr>
            <th>Name</th>
            <th>|Link</th>
            <th>|Quiz</th>
            <th>|Einsendeschluss</th>
          </tr>
    {% for show in object_list %}
      <tr>
            <td>{{ show.name }}</td>
            <td><a href="{{ show.link_to_radio_show }}" role="button">Klick mich</a></td>
            <td>{{ show.quiz }}</td>
            <td>{{ show.einsendeschluss }}</td>
      </tr>
    {% endfor %}
        </table>
</table>

</h4>
{% endblock content %}