{% extends 'radioready/base.html' %}
{% block content %}
    <h1>Radio Ready Sendungen</h1>

<div class="importandAnimation">Hallo {{ user.username }}!<br>
Hier drei Wichtige Informationen:
<li>1. Radio Ready wird vom 29.7 bis zum 11.9 in die Sommerpause gehen.</li>
<li>2. Die Radio Ready Sendungen werden in Staffeln mit je 20 Sendungen unterteilt.</li>
    <li>3. Da wir aber euch auch in der Sommerpause mit Sendungen beglücken wollen, wird es "zwischen den Staffeln" Sendungen geben. Da wird es aber kein Quiz geben.</li></div>
<h5>
    Schreibt eure Lösung an <a href="mailto:radioready.quiz@gmail.com" class="mailto-link" target="_blank" style="color: black">radioready.quiz@gmail.com</a> <br>
   <div class="container-fluid">
         <table summary="no_orderDate">
                <table border="2">
                  <tr>
                      <th><h5>Staffel</h5><hr></th>
                    <th><h5>|Name</h5><hr></th>
                      <th><h5>|Link<hr></h5></th>
                    <th><h5>|Quiz</h5><hr></th>
                    <th><h5>|Einsendeschluss</h5><hr></th>
                      <th><h5>|Sieger der Sendung</h5><hr></th>
                  </tr>

            {% for show in object_list %}

              <tr>
                  <td><h5>{{ show.staffel }}  </h5><hr></td>
                  <td><h5>{{ show.name }}  </h5><hr></td>
                  <td><h5>
                      <a href="{% url 'radioshow_detail' show.pk%}" style="color: black" >Klick mich</a>
<!--                      <audio id="{{ show.name }}" preload="auto" loop="loop">-->
<!--                         <source src="{{ show.link_to_radio_show }}" type="audio/mpeg" />-->
<!--                      </audio>-->
<!--                             <button onclick="playAudio()" type="button">An</button>-->
<!--      <button onclick="pauseAudio()" type="button">Aus</button>-->
                  </h5><hr>

     </td>
                  <td><h5>{{ show.quiz }}  </h5><hr></td>
                  <td><h5>
                            {{ show.deadline }}


                                </h5><hr></td>
                  <td><h5>{{ show.winner }}</h5><hr></td>
              </tr>
<!--                        <script>-->
<!--        var x = document.getElementById("{{ show.name }}");-->
<!--        function playAudio() {-->
<!--        x.play();-->
<!--        }-->
<!--        function pauseAudio() {-->
<!--        x.pause();-->
<!--        }-->
<!--    </script>-->
            {% endfor %}
                </table>
        </table>
    </div>




</h5>

{% endblock content %}