<html>
<head>

</head>

{% extends "radioready/base.html" %}
{% block content %}
<h1>Hier ist die {{ object.name }}</h1>
<h3>Und hier ist der Player</h3>
<h5>
<audio id="audiofile" preload="auto">
        <source src="{{ object.link_to_radio_show }}" type="audio/mpeg" />
      </audio>
      <script>
        document.getElementById('audiofile').play();
      </script>
      <button onclick="playAudio()" type="button">An</button>
      <button onclick="pauseAudio()" type="button">Aus</button>


      <script>
         var x = document.getElementById("audiofile");

         function playAudio() {
             x.play();

         }

         function pauseAudio() {
             x.pause();
         }
</script>
    <div class="container-audio">
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
    </div>
    <hr>

    Oder hier der Link:
    <a class="btn btn-default" href="{{ object.link_to_radio_show }}" role="button" target="_blank">Klick mich für die {{ object.name }}...</a>
<hr>
            <a class="btn btn-default" href="{% url 'radio_ready-list' %}" role="button">Zurück</a>
</h5>
{% endblock content %}
</html>