{% extends 'radioready/base.html' %}
{% block content %}
    <h1>Radio Ready Sendungen</h1>
<h2>Hallo {{ user.username }}
</h2>

<h5>
    Schreibt eure Lösung an <a href="mailto:radioready.quiz@gmail.com" class="mailto-link" target="_blank" style="color: black">radioready.quiz@gmail.com</a> <br>
   <div class="container-fluid">
         <table summary="no_orderDate">
                <table border="2">
                  <tr>
                    <th><h5>Name</h5><hr></th>
                      <th><h5>|Link<hr></h5></th>
                    <th><h5>|Quiz</h5><hr></th>
                    <th><h5>|Einsendeschluss</h5><hr></th>
                      <th><h5>|Sieger der Sendung</h5><hr></th>
                  </tr>

            {% for show in object_list %}

              <tr>
                  <td><h5>{{ show.name }}  </h5><hr></td>
                  <td><h5><a href="{{ show.link_to_radio_show }}" role="button" style="color: black">Klick mich</a>  </h5><hr></td>
                  <td><h5>{{ show.quiz }}  </h5><hr></td>
                  <td><h5>
                            {{ show.deadline }}


                                </h5><hr></td>
                  <td><h5>{{ show.winner }}</h5><hr></td>
              </tr>
            {% endfor %}
                </table>
        </table>
    </div>




</h5>
{% endblock content %}