{% extends 'radioready/base.html' %}
{% block content %}
    <h1>Radio Andenken Center</h1>
<h3><a href="http://timo.tomsbox.de/medien/bilder/Armband.pdf" role="button" style="color: red">Was sich hier wohl verbirgt...</a><br><br>
<a href="http://timo.tomsbox.de/medien/bilder/Witz_1.pdf" role="button" style="color: black">Oder hier...</a><br><br>
    <a href="http://timo.tomsbox.de/medien/bilder/Kekse.pdf" role="button" style="color: white">Wir sind gespannt...</a><br><br></h3>
{% endblock content %}